.form-select {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.94727 9.67969C2.94727 5.81369 6.08127 2.67969 9.94727 2.67969C13.8133 2.67969 16.9473 5.81369 16.9473 9.67969C16.9473 13.5457 13.8133 16.6797 9.94727 16.6797C6.08127 16.6797 2.94727 13.5457 2.94727 9.67969ZM9.94727 0.679688C4.9767 0.679688 0.947266 4.70912 0.947266 9.67969C0.947266 14.6503 4.9767 18.6797 9.94727 18.6797C12.0792 18.6797 14.038 17.9384 15.5799 16.6996C15.6158 16.7531 15.6573 16.804 15.7046 16.8513L19.2402 20.3868C19.6307 20.7773 20.2639 20.7773 20.6544 20.3868C21.0449 19.9963 21.0449 19.3631 20.6544 18.9726L17.1189 15.437C17.0716 15.3898 17.0207 15.3482 16.9672 15.3123C18.206 13.7704 18.9473 11.8116 18.9473 9.67969C18.9473 4.70912 14.9178 0.679688 9.94727 0.679688Z' fill='%23772BCB'/%3E%3C/svg%3E%0A");
  border: 1px solid #bababa;
}

.trapezoid {
  border-top: 25px solid #121212;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 500px;
}
.trapezoid::before {
  content: url("data:image/svg+xml,%3Csvg width='25' height='7' viewBox='0 0 25 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.369217 6.71533L0.369217 4.71533L3.03728 4.71533L3.03728 6.71533L0.369217 6.71533ZM0.369217 2.71533L0.369217 0.715332L3.03728 0.715332L3.03728 2.71533L0.369217 2.71533ZM5.70534 6.71533V4.71533L8.3734 4.71533V6.71533L5.70534 6.71533ZM5.70534 2.71533L5.70534 0.715332L8.3734 0.715332L8.3734 2.71533L5.70534 2.71533ZM11.0415 6.71533V4.71533L13.7095 4.71533V6.71533L11.0415 6.71533ZM11.0415 2.71533L11.0415 0.715332L13.7095 0.715332L13.7095 2.71533L11.0415 2.71533ZM16.3776 6.71533V4.71533L19.0456 4.71533V6.71533L16.3776 6.71533ZM16.3776 2.71533V0.715332L19.0456 0.715332V2.71533L16.3776 2.71533ZM21.7137 6.71533V4.71533L24.3818 4.71533V6.71533L21.7137 6.71533ZM21.7137 2.71533V0.715332L24.3818 0.715332V2.71533L21.7137 2.71533Z' fill='%23DADADA'/%3E%3C/svg%3E%0A");
  position: relative;
  top: -1.75rem;
}

@media screen and (max-width: 1440px) {
  .w-25 {
    width: 32% !important;
  }
}
