.text-outline-white {
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 12vw;
}

@media screen and (max-width: 1440px) {
  .mt-xl-0 {
    margin-top: 4rem !important;
  }

  .mt-lg-n8 {
    margin-top: -3.75rem !important;
  }
}
