<div class="container">
  <div class="row">
    <div class="d-flex">
      <div class="col-1">
        <div class="d-flex">
          <h1
            class="position-relative text-uppercase text-outline fw-bold display-7"
            style="writing-mode: vertical-rl; right: 6rem"
          >
            Articles
          </h1>
          <h1
            class="position-relative text-uppercase text-indigo fw-bold display-7"
            style="writing-mode: vertical-rl; right: 16.25rem; top: -0.41rem"
          >
            Featured
          </h1>
        </div>
      </div>
      <div class="col bg-indigo ms-6">
        <div class="col-12 px-5">
          <div class="d-flex mt-8">
            <div class="col-8">
              <div class="card bg-transparent text-white">
                <img
                  src="../../../assets/images/Image 301.png"
                  class="card-img"
                  alt="..."
                />
                <div
                  class="d-flex flex-column pt-3 ps-5 mt-n9 bg-gradient-dark"
                >
                  <h2 class="card-title">
                    The top 15 PlayStation 5 games to play on release
                  </h2>

                  <p class="small text-muted p-0">Last updated 3 mins ago</p>
                </div>
              </div>
            </div>
            <div class="col ms-3">
              <div
                style="overflow-y: scroll; overflow-x: hidden; height: 400px"
              >
                <div class="d-flex pb-3">
                  <div class="flex-shrink-0">
                    <img src="../../../assets/images/Image 295.png" alt="..." />
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <p class="text-white">
                      Microsoft just dropped the best controller
                    </p>
                    <p class="text-muted small">Dec 16, 2020</p>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="flex-shrink-0">
                    <img src="../../../assets/images/Image 297.png" alt="..." />
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <p class="text-white">
                      Microsoft just dropped the best controller
                    </p>
                    <p class="text-muted small">Dec 16, 2020</p>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="flex-shrink-0">
                    <img src="../../../assets/images/Image 299.png" alt="..." />
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <p class="text-white">
                      Microsoft just dropped the best controller
                    </p>
                    <p class="text-muted small">Dec 16, 2020</p>
                  </div>
                </div>
                <div class="d-flex pb-3">
                  <div class="flex-shrink-0">
                    <img src="../../../assets/images/Image 299.png" alt="..." />
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <p class="text-white">
                      Microsoft just dropped the best controller
                    </p>
                    <p class="text-muted small">Dec 16, 2020</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-5">
          <div class="shape"></div>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex">
      <div class="d-flex text-uppercase">
        <h1
          class="me-n7 display-3 text-outline fw-bold"
          style="writing-mode: vertical-rl"
        >
          Articles
        </h1>
        <h1
          class="me-n1 display-3 text-indigo fw-bold position-relative"
          style="writing-mode: vertical-rl; right: -0.25rem"
        >
          Featured
        </h1>
      </div>
      <div class="col-10 bg-indigo">
        <div class="container d-flex">
          <div class="d-flex">
            <h1>asdadssa</h1>
            <h1>asdadssa</h1>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
