@import "../src/scss/main.scss";

.bg-gradient-purple {
  background-image: linear-gradient(to right, #6013b4, #27054b);
}

.text-outline-white {
  color: white;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 12vw;
}
