$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    "background-color": (
      property: background-color,
      class: bg,
      local-vars: (
        "bg-opacity": 1,
      ),
      values:
        map-merge(
          $utilities-bg-colors,
          (
            "transparent": transparent,
          )
        ),
    ),
  ),
  $utilities
);
